body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  display: grid;
  max-width: 1200px;
  background-color: #eee;
  margin: 0px;
  border-radius: 0;
  grid-template-areas:
    "topmenu topmenu topmenu topmenu"
    "bigpic bigpic bigpic bigpic"
    "oct oct oct partners"
    "merch  buddies fine    partners";
}
img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
div {
  border-radius: 15px;
  border: dotted purple 2px;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  
  
}


.menu a:hover{
  color: grey;
  font-size: 150%;
  
}

a:hover{
  color: darkblue;
  font-size: 125%;

}
nav {
  border-radius: 15px;
  border: dotted purple 2px;
  margin: 10px;
}
.topmenu {
  display: flex;
  grid-area: topmenu;
  grid-template-columns: ;
  justify-content: space-between;
  margin: 0;
}
.menu {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  height: 100px;
  /* width: 200px; */
  
  
}
li {
  list-style-type: none;
   margin: 20px;
}
.title {
  display: flex;
  align-items: center;
  margin: 0;
}
ul {
  display: flex;
  /* align-items: center; */
}
.bigpic {
  background-image: url("../img/happiest-dog.webp");
  /* background-color: red; */
  grid-area: bigpic;
  height: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

.petresort {
  font-size: 25px;
}

.october {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: oct;
  height: 300px;
  background-color: white;
}

.partners {
  grid-area: partners;
  display: flex;
  background-color: white;
  align-items: center;
  flex-direction: column;
}
.partnersimg {
  display: flex;
  flex-direction: column;
  
  margin: 0;
}
.partnersimg img{
  height: 70px;
}

.partnerstxt {
  padding: 5px;
}

.merch {
  grid-area: merch;
  background-color: white;
}

.buddies {
  grid-area: buddies;
  background-color: white;
}

.fine {
  grid-area: fine;
  background-color: white;
}
